<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <thymeleaf th:fragment="meta_script_link" th:remove="tag">
    <meta charset="UTF-8"/>
    <script src="/js/bundle-site.js" defer></script>
    <link rel="stylesheet" href="/css/bundle-site.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
  </thymeleaf>
</head>
<style>
  #navbar>.nav-item {
    background-color: green;
    margin-left: 2rem;
    padding: 0.1rem;
    border-radius: 30rem;
    width: 4.5rem;
    text-align: center;
  }
</style>
<body>
<header th:fragment="header(page)">
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <ul class="navbar-nav me-auto d-flex flex-row" id="navbar">
      <li class="nav-item" sec:authorize="isAuthenticated()">
        <a class="nav-link" th:href="@{/artists}" th:classappend="${page == 'artists'} ? 'active' : ''">Artists</a>
      </li>
      <li class="nav-item" sec:authorize="isAuthenticated()">
        <a class="nav-link" th:href="@{/albums}" th:classappend="${page == 'albums'} ? 'active' : ''">Albums</a>
      </li>
      <li class="nav-item" sec:authorize="isAuthenticated()">
        <a class="nav-link" th:href="@{/songs}" th:classappend="${page == 'songs'} ? 'active' : ''">Songs</a>
      </li>
    </ul>

    <ul class="navbar-nav ms-auto">
      <li sec:authorize="isAuthenticated()">
        <form class="d-flex" th:action="@{/logout}" th:method="POST">
          <button type="submit" class="btn btn-primary bg-dark border-dark text-secondary">Sign out</button>
        </form>
      </li>
      <li class="nav-item" sec:authorize="!isAuthenticated()">
        <a class="nav-link text-secondary" th:href="@{/login}" th:classappend="${page == 'login'} ? 'active' : ''">Sign in</a>
      </li>
    </ul>
  </nav>
</header>
</body>
</html>
