<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Songs</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/5.1.2/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div class="nav" th:replace="~{fragments/fragments::header}"></div>

<main class="vh-100 m-4">
    <h1>Songs</h1>
    <table class="table">
        <thead class="bg-dark text-light">
        <tr>
            <th>Id</th>
            <th>Song name</th>
            <th>Duration</th>
            <th>Genre</th>
            <th>Audio</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="song: ${songs}">
            <td th:text="${song.id}"></td>
            <td>
                <a th:text="${song.songName}" th:href="@{/song/{song}(song=${song.getId()})}"></a>
            </td>
            <td th:text="${song.duration}"></td>
            <td th:text="${song.genre}"></td>
            <td>
                <audio th:src="@{${song.audio}}" controls>
                    Your browser does not support the audio element.
                </audio>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="remove btn-danger" th:href="@{/removeSong}">Delete</a>
</main>
</body>
</html>
