<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Delete album</title>
  <script defer th:src="@{js/formvalidation.js}"></script>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}"/>
  <script defer th:src="@{/webjars/bootstrap/js/5.1.2/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div class="nav" th:replace="~{fragments/fragments::header}"></div>

<main class="vh-100 w-100">
  <section class="m-4 d-flex w-75 flex-column align-items-center">
    <form method="post" th:object="${albumViewModel}" th:action="@{/removeAlbum}" novalidate class="d-flex flex-column">
      <div class="mb-3">
        <label for="id" class="form-label">Id</label>
        <input type="number" class="form-control" id="id" th:field="*{id}">
        <div class="alert alert-danger" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></div>
      </div>
      <input class="btn btn-light submit" type="submit" value="Submit"/>
    </form>
  </section>
</main>
</body>
</html>
