<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Albums</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/5.1.2/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div class="nav" th:replace="~{fragments/fragments::header}"></div>

<main class="vh-100 m-4">
    <h1>Albums</h1>
    <table class="table">
        <thead class="bg-dark text-light">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Amount of songs</th>
            <th>Release date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="album: ${albums}">
            <td th:text="${album.id}"></td>
            <td>
                <a th:text="${album.title}" th:href="@{/album/{album}(album=${album.getId()})}"></a>
            </td>
            <td th:text="${album.amountOfSongs}"></td>
            <td th:text="${album.releaseDate}"></td>
        </tr>
        </tbody>
    </table>
    <a class="remove btn-danger" th:href="@{/removeAlbum}">Delete</a>
</main>

<div th:insert="~{fragments/fragments::footer}"></div>
</body>
</html>
