<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Album</title>
    <script defer th:src="@{js/formvalidation.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/5.1.2/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div class="nav" th:replace="~{fragments/fragments::header}"></div>

<main class="vh-100 w-100">
    <section class="m-4 d-flex w-75 flex-column align-items-center">
        <form method="post" th:object="${albumViewModel}" th:action="@{/addAlbum}" novalidate class="d-flex flex-column">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" th:field="*{title}">
                <div class="alert alert-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
            </div>
            <div class="mb-3">
                <label for="amountOfSongs" class="form-label">Amount of songs</label>
                <input class="form-control" id="amountOfSongs" type="number" th:field="*{amountOfSongs}">
            </div>
            <div class="mb-3">
                <label for="releaseDate" class="form-label">Release Date</label>
                <input class="form-control" id="releaseDate" type="date" th:field="*{releaseDate}">
            </div>
            <input class="btn btn-light submit" type="submit" value="Submit"/>
        </form>
    </section>
</main>

<div th:insert="~{fragments/fragments::footer}"></div>
</body>
</html>
