<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Song</title>
    <script defer th:src="@{js/formvalidation.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/5.1.2/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div class="nav" th:replace="~{fragments/fragments::header}"></div>

<main class="vh-100 w-100">
    <section class="m-4 d-flex w-75 flex-column align-items-center">
        <form method="post" th:object="${songViewModel}" th:action="@{/addSong}" novalidate class="d-flex flex-column">
            <div class="mb-3">
                <label for="songName" class="form-label">Song name</label>
                <input type="text" class="form-control" id="songName" th:field="*{songName}">
                <div class="alert alert-danger" th:if="${#fields.hasErrors('songName')}" th:errors="*{songName}"></div>
            </div>
            <div class="mb-3">
                <label for="duration" class="form-label">Duration</label>
                <input class="form-control" id="duration" type="number" th:field="*{duration}">
            </div>
            <div class="mb-3">
                <label for="genre" class="form-label">Genre</label>
                <input class="form-control" id="genre" type="text" th:field="*{genre}">
            </div>
            <input class="btn btn-light submit" type="submit" value="Submit"/>
        </form>
    </section>
</main>

<div th:insert="~{fragments/fragments::footer}"></div>
</body>
</html>
